.load {
    margin-top: 25%;
    width: 100%;
    text-align: center;
}

.load img {
    width: 25%;
}


/*字体*/

.font1 {
    /*font-family:'myFont';*/
    font-size: 36px;
}

.font4 {
    /*font-family:'myFont';*/
    font-size: 36px;
}

.font5 {
    /*font-family: 'myFont';*/
    font-size: 38px;
}

.font2 {
    font-size: 16px;
    color: #fff;
}

.font3 {
    font-size: 22px;
}

@media screen and (min-width: 2000px) {
    .font1 {
        /*font-family:'myFont';*/
        font-size: 36px;
    }
    .font4 {
        /*font-family:'myFont';*/
        font-size: 36px;
    }
    .font5 {
        /*font-family: 'myFont';*/
        font-size: 38px;
    }
    .font2 {
        font-size: 22px;
        color: #fff;
    }
    .font3 {
        font-size: 32px;
    }
}


/*@media screen and (min-width: 1921px) { 
.font1{
    font-family:'myFont';
    font-size: 4.5px;
}
.font4{
    font-family:'myFont';
    font-size: 6.5px;
}
.font5 {
    font-family: 'myFont';
    font-size: 20px;
}
.font2{
    font-size: 18px;
    color: #fff;
}
.font3{
    font-size: 3.5px;
}
}*/


/*@media screen and (max-width: 1441px) {

}
@media screen and (max-width: 1025px) {

}*/


/*下箭头*/

.down {
    position: absolute;
    right: 2cm;
    bottom: 1cm;
}

.down1 {
    position: absolute;
    right: 1cm;
    bottom: 17%;
}

@media screen and (max-width: 1441px) {
    .down {
        position: absolute;
        right: 1cm;
        bottom: 1cm;
    }
    .down1 {
        position: absolute;
        right: 1cm;
        bottom: 5%;
    }
}

@media screen and (max-width: 1025px) {
    .down {
        position: absolute;
        right: 1cm;
        bottom: 1cm;
    }
}


/*-------------第一页-----------*/


/*定位*/

.w1 {
    position: absolute;
    top: 6%;
    width: 100%;
}

.w2 {
    position: absolute;
    bottom: 2%;
    margin-left: 1%;
    width: 100%;
}

.w2 img {
    width: 15%;
}

.p1-w1 {
    display: none;
    position: absolute;
    z-index: 200;
    left: 40%;
    top: 48%;
}


/*功能*/

.dp {
    display: none;
}

.correct {
    position: absolute;
    width: 100%;
}


/*img大小*/

.img-with1 {
    width: 95%;
}

.sp1 {
    left: 86%;
    position: absolute;
    bottom: -3px;
    font-size: 16px;
}


/*
@media screen and (min-width: 2000px) { 
    .w2 img  { width:  190%;}
    .test2{width: 100%; }
    .test{width: 100%;}
}*/

@media screen and (max-width: 1441px) {
    .correct {
        position: absolute;
        width: 100%;
    }
    .p1-w1 {
        display: none;
        position: absolute;
        z-index: 200;
        left: 48%;
    }
}

@media screen and (max-width: 1025px) {
    .p1-w1 {
        display: none;
        position: absolute;
        z-index: 200;
        left: 40%;
        top: 48%;
    }
    .p1-w1 img {
        width: 80%;
    }
    .w1 img {
        width: 80%;
    }
    .w1 {
        position: absolute;
        top: 20%;
        width: 100%;
    }
}


/*-------------第二页-----------*/

.w3 {
    position: absolute;
    left: 10%;
    top: 8%;
}

.w4 {
    width: 60%;
    position: absolute;
    left: 20%;
    top: 25%;
}

.w5 {
    width: 60%;
    position: absolute;
    left: 22%;
    top: 55%;
}

.w6 {
    padding-bottom: 1%;
}

.mp {
    margin-top: 20%
}

.p2-l {
    position: relative;
    left: 0%;
}

.p2-r {
    position: relative;
    right: 0%;
}


/*字体*/

@media screen and (min-width: 2000px) {
    .row img {
        width: 80%;
    }
    .w5 {
        width: 60%;
        position: absolute;
        left: 21.5%;
        top: 60%;
    }
}

@media screen and (max-width: 1441px) {
    .w5 {
        width: 60%;
        position: absolute;
        left: 20%;
        top: 65%;
    }
    .p2-r {
        position: relative;
    }
    .p2-l {
        position: relative;
        left: 5%;
    }
}

@media screen and (max-width: 1025px) {
    .p2-l {
        position: relative;
        left: 0px;
    }
    .p2-r {
        padding-top: 0px;
        position: relative;
        right: 0px;
    }
}


/*-------------第三页-----------*/

.p3-con-w {
    position: absolute;
    top: 15%;
    left: 10%;
    width: 80%;
}

.p3-w1 {
    position: relative;
    float: left;
    left: 10%;
    width: 20%;
}

.p3-w2 {
    position: relative;
    float: left;
    left: 20%;
    width: 20%;
}

.p3-w3 {
    position: relative;
    float: left;
    left: 30%;
    width: 20%;
}

.p3-img-w1 {
    position: absolute;
    top: 10px;
    left: 0px;
    width: 100%;
}

.p3-img-w2 {
    position: absolute;
    top: 10px;
    left: 0px;
    width: 100%;
}

.p3-img-w3 {
    position: absolute;
    top: 10px;
    left: 0px;
    width: 100%;
}

.p3-w4 {
    width: 100%;
}

.p3-p20 {
    /*padding-left: 20%;*/
    position: relative;
    left: 15%;
}

.p3-w5 {
    width: 18%;
    float: left;
}

.p3-w6 {
    width: 80%;
    padding-left: 15%;
}

.p3-w7 {
    position: absolute;
    top: 40%;
    left: 20%;
    width: 26%;
}

.p3-w8 {
    position: absolute;
    right: 15%;
    bottom: 0%;
    width: 35%;
}


/*字体*/

.p3-fn2 {
    line-height: 60px;
}

.p3-fn3 {
    line-height: 30px;
}

@media screen and (min-width: 2000px) {
    .p3-p20 img {
        width: 80%;
    }
    .p3-fn2 {
        line-height: 60px;
    }
    .p3-fn3 {
        line-height: 60px;
    }
    .p3-img-w4 img {
        width: 75%;
    }
}

@media screen and (max-width: 1441px) {
    .p3-img-w1 {
        position: absolute;
        top: 20px;
        left: 0px;
        width: 100%;
    }
    .p3-img-w2 {
        position: absolute;
        top: 20px;
        left: 0px;
        width: 100%;
    }
    .p3-img-w3 {
        position: absolute;
        top: 20px;
        left: 0px;
        width: 100%;
    }
    .p3-p20 {
        position: relative;
        left: 10%;
    }
    .p3-w5 {
        width: 21%;
        float: left;
    }
    .p3-img-w4 img {
        width: 80%;
    }
}

@media screen and (max-width: 1025px) {
    .p3-w5 img {
        width: 80%;
    }
    .p3-w5 {
        width: 24%;
        float: left;
    }
    .p3-p20 {
        padding-left: 0;
    }
    .p3-fn2 {
        line-height: 60px;
    }
    .p3-fn3 {
        line-height: 30px;
    }
    .p3-w7 {
        position: absolute;
        top: 41%;
        left: 20%;
        width: 30%;
    }
    .p3-w8 {
        position: absolute;
        right: 10%;
        bottom: 0%;
        width: 35%;
    }
    .p3-img-w4 img {
        width: 100%;
    }
    .p3-con-w {
        position: absolute;
        top: 20%;
        left: 10%;
        width: 80%;
    }
}


/*-------------第四页-----------*/

.p4-w1 {
    position: absolute;
    left: 10%;
    top: 2%;
    z-index: 9999;
}

.p4-w2 {
    width: 15%;
    position: absolute;
    left: 0%;
    top: 0%;
    height: 100%;
}

.p4-rw1 {
    margin-top: 45%;
    margin-left: 20%;
    width: 50%;
}

.p4-rw2 {
    margin-top: 15%;
    margin-left: 20%;
    width: 50%;
}

.p4-w3 {
    position: absolute;
    left: 25%;
    top: 21%;
}

.p4-w4 {
    width: 20%;
    position: absolute;
    left: 60%;
    top: 25%;
}

.p4-w5 {
    position: absolute;
    left: 27%;
    bottom: 8%;
}


/*@media screen and (max-width: 1600px) {
.p4-rw2 {
    margin-top: 30%;
    margin-left: 20%;
    width: 50%;
}*/

@media screen and (min-width: 2000px) {
    .p4-w2 img {
        width: 100%;
    }
    .p4-rw1 {
        margin-top: 35%;
        margin-left: 20%;
        width: 50%;
    }
    .p4-rw2 {
        margin-top: 5%;
        margin-left: 20%;
        width: 50%;
    }
    .p4-w3 img {
        width: 120%;
    }
    .p4-w3 {
        position: absolute;
        left: 25%;
        top: 20%;
    }
    .p4-w4 {
        width: 30%;
        position: absolute;
        left: 55%;
        top: 25%;
    }
    .p4-w5 img {
        width: 120%;
    }
    .p4-w5 {
        position: absolute;
        left: 35%;
        bottom: 8%;
    }
}

@media screen and (max-width: 1441px) {
    .p4-w3 {
        position: absolute;
        left: 18%;
        top: 20%;
    }
    .p4-rw2 {
        margin-top: 7%;
        margin-left: 20%;
        width: 50%;
    }
    .p4-w5 {
        position: absolute;
        left: 23%;
        bottom: 4%;
    }
    .p4-w3 img {
        width: 85%;
    }
    .p4-w4 {
        width: 25%;
        position: absolute;
        left: 65%;
        top: 25%;
    }
}

@media screen and (max-width: 1025px) {
    .p4-w1 {
        position: absolute;
        left: 12%;
        top: 2%;
    }
    .p4-w2 {
        width: 20%;
        position: absolute;
        left: 0%;
        top: 0%;
        height: 100%;
    }
    .p4-rw1 {
        margin-top: 60%;
        /*margin-left: 0; 
     width: 0; */
    }
    .p4-rw2 {
        margin-top: 10%;
        /* margin-left: 20%; */
        /* width: 50%; */
    }
    .p4-w3 img {
        width: 75%;
    }
    .p4-w3 {
        position: absolute;
        left: 20%;
        top: 20%;
    }
    .p4-w4 {
        width: 25%;
        position: absolute;
        left: 69%;
        top: 24%;
    }
    .p4-w5 img {
        width: 70%;
    }
    .p4-w5 {
        position: absolute;
        left: 13%;
        bottom: 13%;
    }
}


/*-------------第五页-----------*/

.p5-w1 {
    position: absolute;
    left: 12%;
    top: 15%;
}

.p5-w2 {
    position: absolute;
    left: 21%;
    top: 18%;
}

.p5-w3 {
    color: #fff;
    width: 58%;
    position: absolute;
    left: 15%;
    top: 35%;
}

.p5-w4 {
    width: 80%;
    height: 80%;
}

.p5-w5 {
    position: absolute;
    left: 15%;
    bottom: 1px;
    z-index: 2;
}

.p5-w6 {
    position: absolute;
    left: 35%;
    bottom: 1px;
    z-index: 1;
}

.p5-fn1 {
    text-align: left;
    text-indent: 1.5em;
}

.tm {
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    -webkit-opacity: 0.5;
    opacity: 0.5;
}

@media screen and (min-width: 2000px) {
    .p5-w5 img {
        width: 120%;
    }
    .p5-w6 img {
        width: 120%;
    }
}

@media screen and (max-width: 1441px) {
    .tm {
        filter: alpha(opacity=50);
        -moz-opacity: 0.5;
        -khtml-opacity: 0.5;
        -webkit-opacity: 0.5;
        opacity: 0.5;
    }
    .p5-w1 {
        position: absolute;
        left: 12%;
        top: 15%;
    }
    .p5-w2 {
        position: absolute;
        left: 25%;
        top: 20%;
    }
    .p5-w5 {
        width: 40%;
        position: absolute;
        left: 15%;
        bottom: 1px;
        z-index: 2;
    }
    .p5-w6 {
        width: 40%;
        position: absolute;
        left: 35%;
        bottom: 1px;
        z-index: 1;
    }
    .p5-w5 img {
        width: 100%;
    }
    .p5-w6 img {
        width: 100%;
    }
}

@media screen and (max-width: 1025px) {
    .p5-w3 {
        color: #fff;
        width: 75%;
        position: absolute;
        left: 15%;
        top: 31%;
    }
    .p5-w5 {
        position: absolute;
        left: 5%;
        bottom: 1px;
        z-index: 2;
    }
    .p5-w5 img {
        width: 70%;
    }
    .p5-w6 {
        position: absolute;
        left: 25%;
        bottom: 1px;
        z-index: 1;
    }
    .p5-w6 img {
        width: 95%;
    }
}


/*-------------第六页-----------*/

.p6-img-1 {
    width: 100%;
    position: relative;
}

.p6-img-1 img {
    width: 100%;
}

.p6-w1 {
    position: absolute;
    left: 5%;
    top: 5%;
    width: 12%;
}

.p6-w2 {
    position: absolute;
    left: 10%;
    top: 10%;
    width: 15%;
}

.p6-w3 {
    position: absolute;
    right: 23%;
    top: 45%;
}

.p6-w4 {
    width: 450px;
    height: 220px;
    background-color: white;
    position: absolute;
    right: 10%;
    top: 24%;
    box-shadow: 0px 0px 20px #1dfee6;
}

.p6-w5 {
    color: black;
}

.p6-w6 {
    margin-left: 5%;
    margin-top: 10%;
    float: left;
}

.p6-w7 {
    position: absolute;
    right: 26%;
    top: 80%;
}

.p6-w8 {
    width: 480px;
    height: 220px;
    background-color: white;
    position: absolute;
    right: 15%;
    top: 59%;
    box-shadow: 0px 0px 20px #1dfee6;
}

.p6-w9 {
    margin-left: 7%;
    margin-top: 6%;
    float: left;
}

@media screen and (min-width: 2000px) {
    .p6-img-1 img {
        width: 80%;
    }
    .con {
        width: 95%;
        font-size: 24px;
        text-align: left;
        color: #9C9696;
        position: relative;
        top: 5%;
        left: 2%;
    }
    .p6-w6 {
        width: 35%;
        height: 60%;
        margin-left: 3%;
        margin-top: 10%;
        float: left;
    }
    .p6-w6 img {
        width: 100%;
    }
    .p6-w4 {
        width: 30%;
        height: 26%;
        background-color: white;
        position: absolute;
        right: 10%;
        top: 20%;
        box-shadow: 0px 0px 20px #1dfee6;
    }
    .p6-w3 {
        position: absolute;
        right: 28%;
        top: 45%;
    }
    .p6-w7 {
        position: absolute;
        right: 31%;
        top: 83%;
    }
    .p6-w8 {
        width: 30%;
        height: 26%;
        background-color: white;
        position: absolute;
        right: 10%;
        top: 18%;
        box-shadow: 0px 0px 20px #1dfee6;
    }
    .p6-w9 {
        width: 35%;
        height: 60%;
        margin-left: 7%;
        margin-top: 6%;
        float: left;
    }
    .p6-w9 img {
        width: 100%;
    }
}


/*-------------第七页-----------*/

.p7-w1 {
    position: absolute;
    left: 5%;
    top: 1%;
}

.p7-w2 {
    width: 50%;
    position: relative;
    left: 25%;
}

.p7-w3 {
    width: 100%;
    height: 85%;
    position: absolute;
    z-index: -1;
    background-color: white;
    opacity: 0.2;
}

.p7-w4 {
    width: absolute;
    left: 10%;
}

.p7-w5 {
    margin-top: 5%;
    height: 50%;
    width: 80%;
    line-height: 30px;
}

.p7-w6 {
    width: 35%;
    border: 1px solid;
}

.p7-w7 {
    width: absolute;
    left: 10%;
    width: 90%;
    opacity: 0;
}

.p7-w8 {
    margin-top: 5%;
    height: 320px;
    width: 80%;
    line-height: 80px;
}

.p7-fn2 {
    margin-top: 10%;
}

.correct1 {
    position: absolute;
    width: 100%;
}

.p7-w9 {
    width: 100%;
    position: absolute;
    z-index: 200;
    top: 25%;
    /*left:5%;*/
    color: white;
}

.p7-lan {
    position: absolute;
    bottom: 5%;
    width: 90%;
    left: 5%;
}

.p7-lan2 {
    position: absolute;
    bottom: 1%;
    left: 7%;
    height: 5%;
    width: 90%;
}

.p7-beian {
    float: right;
    margin-right: 5%;
}

.p7-fn1 {
    padding-top: 5%;
}

@media screen and (max-width: 1441px) {
    .correct1 {
        position: absolute;
        width: 100%;
        /*top:5%;*/
    }
    .p7-w7 {
        width: absolute;
        left: 10%;
        width: 100%;
        opacity: 0;
    }
    .p7-w6 {
        width: 45%;
        border: 1px solid;
    }
    .p7-w9 {
        width: 100%;
        position: absolute;
        z-index: 200;
        top: 25%;
        /*left:5%;*/
        color: white;
    }
    .p6-w3 {
        position: absolute;
        right: 22%;
        top: 45%;
    }
    .p6-w7 {
        position: absolute;
        right: 26%;
        bottom: 12%;
    }
}

@media screen and (max-width: 1025px) {
    .p7-w2 {
        width: 80%;
        position: relative;
    }
    .p7-lan {
        position: absolute;
        bottom: 5%;
        width: 90%;
        left: 2%;
    }
    .p7-lan2 {
        position: absolute;
        bottom: 1%;
        left: 2%;
        height: 5%;
        width: 90%;
    }
    .p7-beian {
        float: right;
        margin-right: 1%;
        margin-top: 1%;
        font-size: 12px;
    }
}